<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>First App</title>
  </head>
  <body>
    <h1>This is index.html</h1>

    <h2>{{ inject_var }}</h2>
    <P>Click <a href="./help.html">here</a> for help</P>
    <img src="../static/logo.png"alt="Amrita Logo">

      {% if evenOrOdd == 0 %}

        <h2>Hello Amrita.</h2>

      {% else %}

        <h2>*********************************</h2>

      {% endif %}



      {% for x in fruits %}

        <h1>{{ x }}</h1>

      {% endfor %}
  </body>
</html>